<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  
  <!-- Meta -->
  <meta name="revisit-after" content="2 days">
  <meta name="robots" content="all">
  
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">

  {% if page.date %}
    <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}" />
  {% endif %}

  <!-- Open Graph -->
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines }}{% else %}{{ site.description }}{% endif %}" />

  {% if page.image %}
    <!-- Open Graph Image -->
    <meta property="og:image" content="{{ site.url }}/assets/images/{{ page.image }}" />
  {% else %}
    <!-- Open Graph Image -->
    <meta property="og:image" content="{{ site.url }}/src/images/share.png" />
  {% endif %}

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines }}{% else %}{{ site.description }}{% endif %}">

  {% if page.image %}
    <meta name="twitter:image:src" content="{{ site.url }}/assets/images/{{ page.image }}" />
  {% else %}
    <!-- Open Graph Image -->
    <meta property="twitter:image:src" content="{{ site.url }}/src/images/share.png" />
  {% endif %}
  
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}" >
  
  <!-- Styles -->
  <link rel="stylesheet" href="{{ "/public/bundle.css" | prepend: site.baseurl }}">
</head>