/**
 * Normalize
 */

@import './lib/normalize';


/**
 * Variables
 */

@import './_variables';


/**
 * Base
 */

@import './base/reset';
@import './base/root';
@import './base/body';
@import './base/print';
@import './base/container';


/**
 * Typography
 */

@import './typography/headings';
@import './typography/paragraph';
@import './typography/lead';
@import './typography/link';
@import './typography/strong';
@import './typography/emphasis';
@import './typography/abbreviation';
@import './typography/small';
@import './typography/small-caps';
@import './typography/horizontal-rule';
@import './typography/quote';
@import './typography/blockquote';
@import './typography/cite';
@import './typography/list';
@import './typography/definition-list';
@import './typography/code';
@import './typography/pre';
@import './typography/kbd';
@import './typography/mark';
@import './typography/footnotes';
@import './typography/table';


/**
 * Syntax
 */

@import './syntax';


body {
	display: grid;
	grid-template-rows: 150px auto 100px;
	grid-template-columns: minmax(200px, 3fr) 9fr;
	/* grid-template-areas: "header header header header"
						 "main main . aside"
						 "footer footer footer footer"; */
	background: #EEE;
}

header {
	/* grid-area: header; */
	grid-column: 1 / 3;
	background: red;
}

main {
	/* grid-area: main; */
	/* grid-row: 2 / span 2; */
	background: blue;
}

aside {
	/* grid-area: main; */
	grid-row: 2 / span 2;
	background: pink;
}

footer {
	/* grid-area: footer; */
	grid-column: 2 / 3;
	background: green;
}